# Analyzing-Global-CO2 Emissions Data Visualisation

In [39]:
#import package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
#read the data csv
df = pd.read_csv('owid-co2-data.csv')
display(df)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,NaN,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,NaN,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,NaN,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,NaN,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
50190,Zimbabwe,2023,ZWE,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,...,NaN,0.102,0.001,0.001,0.002,0.0,33.955,18.608,NaN,NaN

In [41]:
#Check the NAs in the table
df.isna().sum()

country                            0
year                               0
iso_code                        7929
population                      9172
gdp                            34940
                               ...
temperature_change_from_n2o    12131
total_ghg                      12781
total_ghg_excluding_lucf       12955
trade_co2                      45656
trade_co2_share                45656
Length: 79, dtype: int64

In [42]:
pd.isna(df.iloc [0:]).sum()

country                            0
year                               0
iso_code                        7929
population                      9172
gdp                            34940
                               ...
temperature_change_from_n2o    12131
total_ghg                      12781
total_ghg_excluding_lucf       12955
trade_co2                      45656
trade_co2_share                45656
Length: 79, dtype: int64

In [ ]:

columns_with_nas = df.columns[df.isna().any()] # Identify columns which have NAs 
nas_sum = df[columns_with_nas].isna().sum() # Count the number of NAs in each column

# Display the columns with NAs and their counts
for columns, count in nas_sum.items():
    display(f"{columns} - {count}")

'iso_code - 7929'

'population - 9172'

'gdp - 34940'

'cement_co2 - 21328'

'cement_co2_per_capita - 24833'

'co2 - 21054'

'co2_growth_abs - 23210'

'co2_growth_prct - 24189'

'co2_including_luc - 26606'

'co2_including_luc_growth_abs - 26906'

'co2_including_luc_growth_prct - 26906'

'co2_including_luc_per_capita - 26696'

'co2_including_luc_per_gdp - 33401'

'co2_including_luc_per_unit_energy - 40490'

'co2_per_capita - 24009'

'co2_per_gdp - 32663'

'co2_per_unit_energy - 39841'

'coal_co2 - 28436'

'coal_co2_per_capita - 29141'

'consumption_co2 - 45325'

'consumption_co2_per_capita - 45689'

'consumption_co2_per_gdp - 45747'

'cumulative_cement_co2 - 21350'

'cumulative_co2 - 22863'

'cumulative_co2_including_luc - 26606'

'cumulative_coal_co2 - 28436'

'cumulative_flaring_co2 - 34300'

'cumulative_gas_co2 - 32177'

'cumulative_luc_co2 - 12955'

'cumulative_oil_co2 - 24974'

'cumulative_other_co2 - 46989'

'energy_per_capita - 40082'

'energy_per_gdp - 42495'

'flaring_co2 - 34239'

'flaring_co2_per_capita - 35497'

'gas_co2 - 32177'

'gas_co2_per_capita - 32899'

'ghg_excluding_lucf_per_capita - 14552'

'ghg_per_capita - 14378'

'land_use_change_co2 - 12955'

'land_use_change_co2_per_capita - 13757'

'methane - 12781'

'methane_per_capita - 14378'

'nitrous_oxide - 11911'

'nitrous_oxide_per_capita - 13871'

'oil_co2 - 24973'

'oil_co2_per_capita - 25755'

'other_co2_per_capita - 47717'

'other_industry_co2 - 46989'

'primary_energy_consumption - 40040'

'share_global_cement_co2 - 28231'

'share_global_co2 - 22863'

'share_global_co2_including_luc - 26606'

'share_global_coal_co2 - 28436'

'share_global_cumulative_cement_co2 - 28231'

'share_global_cumulative_co2 - 22863'

'share_global_cumulative_co2_including_luc - 26606'

'share_global_cumulative_coal_co2 - 28436'

'share_global_cumulative_flaring_co2 - 39322'

'share_global_cumulative_gas_co2 - 35157'

'share_global_cumulative_luc_co2 - 12955'

'share_global_cumulative_oil_co2 - 26599'

'share_global_cumulative_other_co2 - 48083'

'share_global_flaring_co2 - 39322'

'share_global_gas_co2 - 35157'

'share_global_luc_co2 - 12955'

'share_global_oil_co2 - 26599'

'share_global_other_co2 - 48083'

'share_of_temperature_change_from_ghg - 9190'

'temperature_change_from_ch4 - 12131'

'temperature_change_from_co2 - 9190'

'temperature_change_from_ghg - 9190'

'temperature_change_from_n2o - 12131'

'total_ghg - 12781'

'total_ghg_excluding_lucf - 12955'

'trade_co2 - 45656'

'trade_co2_share - 45656'